 
.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(#1c1247, #1e2a6e, #1d0a2c);
    color: rgb(225, 231, 236);
  }
  
  h1{
    font-family: 'Great Vibes', cursive;
    font-size: 100px;
    background-image:url("images/butterfly.jpg")
  }
  
  h2, #accordion{
    color: rgb(125, 185, 241);
  }
  
  body{
    background-color:#1d0a2c;
  }   